.gallery .image-wrapper {
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.orbit-container .gallery li .orbit-caption {
    font-size: 0.7rem;
}
