body {
    background: none;
}

.filterable {
    text-decoration: underline;
    cursor: pointer;
}



.toplist {
    counter-reset: toplist-counter;
}

/* --- LIST ITEM ---
*/
.toplist .list-item {
    position: relative;
    padding: 4px 0 10px 0;
    padding-left: 97px;
    border-top: 1px solid #CECECE;
    clear: both;
    padding-top: 10px;
    min-height: 85px;
}
/* List numbering */
.toplist .list-item:before {
    content: counter(toplist-counter);
    counter-increment: toplist-counter;
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Libre Baskerville', serif;
    font-size: 32px;
    font-weight: 100;
    font-style: italic;
}

.toplist .list-item .name {
    font-size: 1.3em;
    padding-top: 0;
}

.toplist .image {
    position: absolute;
    left: 40px;
    width: 40px;
}


/* SPARKLINE
*/
.toplist .list-item .popularity {
    float: right;
    max-width: 200px;
}
.toplist .list-item .popularity .title {
    font-size: 8px;
    color: #939393;
    display: block;
    text-align: center;
}
